$w1000px: 1000px;
$w700px: 700px;


.services {
  width: 100vw;
  max-width: 1500px;
  margin: 0 auto;
  padding-bottom: 70px;

  .services__header {
    text-align: center;
    padding: 100px 120px 10px;

    .services__header__title {
      font-size: 52px;
      font-weight: 600;
      line-height: 1.2em;
      text-transform: capitalize;
      margin-bottom: 1em;
    }
  }

  .services__container {
    padding: 20px 120px 10px;
    display: flex;
    flex-direction: column;
    width: 100%;

    .services__service {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 35px;
      width: 100%;
      margin-top: 100px;

      .service__details {
        max-width: 520px;

        .service__title {
          font-weight: 500;
          font-size: 36px;
          line-height: 1.3em;
          color: #000b33;
          text-transform: capitalize;
          margin-bottom: 0.4em;
        }

        .service__text {
          letter-spacing: 0.1px;
          color: #32324b;
          margin-bottom: 1em;
          opacity: 0.7;
        }
      }

      .service__details--right {
        @extend .service__details;
        text-align: right;
      }

      .service__details--left {
        @extend .service__details;
        text-align: left;
      }

      .service__image {
        max-width: 50%;

        img {
          width: 100%;
        }
      }
    }
  }

}


@media only screen and (max-width: $w1000px) {
  .services{
    .services__header{
      padding: 80px 80px 10px;
    }
    .services__container{
      padding: 20px 80px 10px;
    }
  }
}
@media only screen and (max-width: $w700px) {
  .services{
    padding-bottom: 20px;
    .services__header{
      .services__header__title{
        font-size: 24px;
      }
    }
    .services__container{
      padding: 0px 24px 10px;
      .services__service{
        flex-direction: column;
        row-gap: 60px;
        margin-top: 50px;
        .service__details{
          width: 100%;
          text-align: center !important;
          .service__title{
            font-size: 16px;
          }
          .service__text{
            font-size: 12px;
          }
        }

        .service__image{
          order: 1;
          width: 100%;
          max-width: 341px;
          
          img{
            width: auto;
            max-width: 341px;
            max-height: 406px;
          }
          
        }
      }
    }
  }
}