$w700px: 700px;
$w1000px: 1000px;

.about-us{
  &__story {
    padding: 120px 120px 50px;
    width: 100vw;
    
    &__container{
        display: flex;
        // flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        &__content {
          min-width: 43%;
          max-width: 464px;
          min-width: 330px;
          margin-left: 20px;
          text-align: left;

          &__header{
            .title{
              font-size: 36px;
              font-weight: 500;
              margin-bottom: 23px;
              text-transform: capitalize;
              color: #000b33;
            }
          }
          &__text{
            color: #32324B;
            opacity: 0.7;
          }
        }
    
        &__image {
          min-width: 50%;
          // max-width: 50%;
          position: relative;

          svg{
            position: absolute;
            z-index: 0;
            display: none;
          }
          img{
            width: 100%;
          }
        }
      }
  
    }
  .about-webxiel{
    padding: 100px 120px;
  }
  &__partners{
    max-width: 100vw;
    padding: 30px 90px;

    svg{
      width: 100%;
    }
  }
}

@media only screen and (max-width: $w1000px) {
  .about-us{
    &__story {
        padding: 120px 120px 50px;
        width: 100vw;
    
        &__container {
          flex-direction: column;
          align-items: center;
          text-align: center ;
          row-gap: 50px;

          &__content{
            text-align: center;
            margin-left: 0;
          }
        }
    }
  }
}

@media only screen and (max-width: $w700px) {
  .about-us{
    &__story{
      padding: 60px 20px;

      &__container{
        max-width: 520px;
        margin: 0  auto;

        &__content {
        
            &__header {
              .title {
                font-size: 24px;
              }
            }
        
            &__text {
              font-size: 12px;
            }
          }
      }
    }
    .about-webxiel{
      padding: 50px 10px;
      max-width: 440px;
      margin: 0 auto;
    }
    &__partners{
      padding: 20px 10px;
    }
  }
}