$w915px: 915px;
$w800px: 800px;
$w700px: 700px;


.header {
  font-size: inherit;
  background-color: #001C80;
  position: relative;
  width: 100vw;
  max-width: 1500px;
  margin: 0 auto;
  height: 500px;
  color: #fff;
  padding: 0 8% 1.1rem;
  overflow: hidden;

  .nav__mobile{
    display: none;
  }

  .nav {
    display: flex;
    padding: 1.1rem 0;
    justify-content: space-between;

    .nav__links {
      display: flex;

      .link{
        margin-left: 1.8rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0.3 2em;
        
        .nav__link__dash{
          // margin-left: 16px;
          svg{
            height: 20px;
            width: 0;
          }
        }
        
        span {
          text-transform: capitalize;
          font-weight: 500;
          transition: ease-in 0.5s;
        }
      }
      .link:hover {
        .nav__link__dash{
          margin-left: 16px;
          svg{
            height: 20px;
            width: 25px;
          }
        }
        span{
          padding: 0 16px;
        }
      }

      .nav__link {
        @extend .link;
      }
      .nav__link--active{
        @extend .link;
        .nav__link__dash {
          svg{
            width: 25px !important;
            display: inline-block;
          }
        }
      }

    }
  }

  .menu-bar {
    display: none;
    cursor: pointer;
  }

  .hero {
    height: 90%;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
      font-weight: 600;
      font-size: 3.25rem;
      text-transform: capitalize;
      margin-bottom: 1rem;
    }

    .text {
      max-width: 512px;
      font-size: 18px;
    }
  }

  .yellow-left {
    position: absolute;
    left: -1px;
    bottom: 30px;

  }

  .yellow-right {
    position: absolute;
    right: -3px;
    bottom: 30px;
  }
}

@media only screen and (max-width: $w915px) {
  .header {
    padding: 0 4rem 1.1rem;
  }

  @media only screen and (max-width: $w800px) {
    .header {
      padding: 0 20px 12px;
      position: relative;

      .nav__mobile{
        display: block;
        position: absolute;
        width: 100vw;
        transition: ease 0.5s;
        left: 0;
        right: 0;
        top: 0;
        z-index: 100;
        background-color: #fff;

        .nav__mobile__top{
          display: flex;
          justify-content: space-between;
          padding: 12px 20px;
          color: #000b33;

          .menu-bar__mobile{
            path{
              fill: #000b33;
            }
          }
        }
        .nav__links__mobile{
          color: #000b33;
          display: flex;
          flex-direction: column;
          align-items: center;
          font-weight: 500;
          font-size: 23px;
          padding: 0px 10px 20px;

          .nav__link{
            text-transform: capitalize;
            padding: 5px 16px;
          }
          .nav__link--active{
            text-transform: capitalize;
            padding: 5px 16px;
            width: 100%;
            background-color: rgba(255, 200, 62, 0.2);
          }
        }
      }

      .hide{
        transform: translateY(-100%);
      }

      .nav {
        position: relative;
        padding: 12px 0;
        .hide-nav{
          display: none;
        }
        .nav__links{
          display: none;
          flex-direction: column;
          position: absolute;
          top: 0px;
          right: 30px;
          font-size: 14px;
        }

        .menu-bar {
          display: inline-block;
        }
      }

    }
  }

  @media only screen and (max-width: $w700px) {
    .header {
      height: 282px;

      .hero {
        .title {
          font-size: 28px;
        }

        .text {
          font-size: 12px;
          max-width: 250px;
        }
      }

      .yellow-left {
        width: 28px !important;
        height: 56px;
        bottom: 12px;

        svg {
          width: 100%;
          height: 100%;
        }
      }

      .yellow-right {
        width: 41px;
        height: 123px;
        bottom: 0px;

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}