$w1500px: 1500px;
$w1501px: 1501px;
$w1000px: 1000px;
$w700px: 700px;

.testimonial {
  padding: 130px 120px 30px;
  position: relative;
  overflow: hidden;
  max-width: 1500px !important;
  margin: 0 auto !important;

  &__right-shape {
    position: absolute;
    right: 0;
    top: 0px !important;
  }

  &__header {
    margin-bottom: 20px;

    &__title {
      color: #001C80;
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 20px;
      text-transform: capitalize;
    }

    &__text {
      font-size: 2.2rem;
      color: #000b33;
      line-height: 1.3em;
      font-weight: 500;
      max-width: 636px;
      // margin-bottom: 100px;
      margin: 0 auto 10px;
    }
  }

  &__carousel {
    width: 100%;
    max-width: 1500px !important;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

    .carousel__container {
      display: flex;
      column-gap: 0;
      transition: ease 1s;

      .carousel__item {

        .carousel__item__container {
          width: 636px;
          height: 310px;
          margin: 0 auto;
          box-shadow: 0px 4px 40px rgba(43, 89, 255, 0.08);
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 60px;

          .testimony {
            max-width: 470px;
            color: #000b33;
            letter-spacing: 0.1px;
            margin-bottom: 40px;
          }

          .testifier {
            display: flex;
            // justify-content: space-between;
            align-items: center;

            .testifier__about {
              margin: 0 20px;
              display: flex;
              flex-direction: column;
              align-items: flex-start;

              .name {
                text-transform: capitalize;
                font-size: 18px;
                font-weight: 600;
                color: #000b33;
                margin-bottom: 4px;
              }

              .work {
                color: #32324b;
                opacity: 0.7;
                text-transform: capitalize;
              }
            }
          }
        }
      }
    }

    .arrow-left {
      position: absolute;
      left: 100px;
      bottom: 80px;
      cursor: pointer;
    }

    .arrow-right {
      position: absolute;
      right: 100px;
      bottom: 80px;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: $w1500px) {
  .testimonial {
    &__carousel {

      .carousel {
        .carousel__container {
          .carousel__item {
            min-width: 100vw !important;
          }

        }
      }
    }
  }

  @media only screen and (max-width: $w1000px) {
    .testimonial {
      padding-top: 100px !important;

      &__right-shape {
        width: 120px !important;

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  @media only screen and (max-width: $w700px) {
    .testimonial{
      padding: 100px 40px 20px !important;
      &__header {
        margin-bottom: 20px;
    
        &__title {
          font-size: 20px !important;
          font-weight: 600 !important;
          margin-bottom: 20px;
        }
    
        &__text {
          font-size: 25px !important;
          line-height: 1.3em;
          max-width: 636px;
          margin: 0 auto 10px;
        }
      }
      
      &__carousel {

        .carousel__container {

          .carousel__item {

            .carousel__item__container {
              width: 90% !important;
              height: 266px !important;
              margin: 0 auto;
              padding: 20px !important;

              .testimony {
                font-size: 14px !important;
                margin-bottom: 30px !important;
              }

              .testifier {
                .testifier__about {
                  .name {
                    font-size: 16px !important;
                    font-weight: 500 !important;
                  }

                  .work {
                    font-size: 14px !important;
                  }
                }
              }
            }
          }
        }

        .arrow-left {
          position: absolute;
          left: 100px;
          bottom: 80px;
          cursor: pointer;
          display: none ;
        }

        .arrow-right {
          display: none;
          position: absolute;
          right: 100px;
          bottom: 80px;
          cursor: pointer;
        }
      }
    }
  }
}

@media only screen and (min-width: $w1500px) {
  .testimonial {
    &__carousel {

      .carousel {
        .carousel__container {
          .carousel__item {
            min-width: 1500px !important;
          }

        }
      }
    }
  }
}



